/* &display=swap&subset=cyrillic-ext */
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
	font-family: Roboto;
	background-color: #f5f5f5;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ------------------------------ */
.container {
	max-width: 1020px;
	margin: 0 auto;
}
.promise {
	margin: 0px 0px 100px 0px;
}
.subtitle {
	color: #5d62b5;
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	background: url("../img/icons/icon.svg") 0 1px / 22px no-repeat;
	padding: 0px 0px 0px 35px;
	margin: 0px 0px 33px 0px;
}
.title {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	margin: 0px 0px 77px 0px;
}
.items {
	font-size: 0;
}
.item {
	display: inline-block;
}
.item:not(:last-child) {
	margin: 0px 24px 0px 0px;
}
.item-icon {
	display: inline-block;
	margin: 0px 23px 0px 0px;
}
.block {
	display: inline-block;
	max-width: 235px;
}
.block-title {
	color: #f2726f;
	font-weight: 900;
	font-size: 19px;
	line-height: 26px;
	margin: 0px 0px 20px 0px;
}
.block-text {
	color: #4b4b4b;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
}

.services {
	margin: 0px 0px 100px 0px;
	background: url("../img/services/blob.png") 100% 0 no-repeat;
}
.boxes {
	font-size: 0;
	margin: 0px 0px 66px 0px;
}
.box {
	display: inline-block;
	text-align: center;
	max-width: 324px;
	background-color: #fff;
	border-radius: 20px;
	padding: 50px 44px;
}
.box:nth-child(2),
.box:nth-child(5) {
	margin: 0px 24px;
}

.box:first-child {
	margin: 0px 0px 24px 0px;
}
.box:hover {
	box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24);
}
.box-icon {
	margin: 0px 0px 33px 0px;
}
.box-title {
	color: #f2726f;
	font-weight: 900;
	font-size: 19px;
	line-height: 26px;
	margin: 0px 0px 20px 0px;
}
.box-text {
	color: #4b4b4b;
	font-size: 16px;
	line-height: 24px;
}
.btn-block {
	text-align: center;
}
.button {
	display: inline-block;
	color: #fff;
	font-weight: 700;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	background: #f2726f;
	border-radius: 8px;
	padding: 20px 35px;
}
.button:hover {
	background: #ff8f8d;
	box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24);
}
.button:active {
	color: #e4e4e4;
	background: #ff6c69;
}
.button:focus {
	color: #e4e4e4;
	outline: none;
}

.impact {
	padding: 111px 0px;
	font-size: 0;
	background: url("../img/impact/blob.png") 90% 0 no-repeat, #29C3BE;
}
.subtitle-white {
	color: #fff;
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	background: url("../img/icons/white_icon.svg") 0 1px / 22px no-repeat;
	padding: 0px 0px 0px 35px;
	margin: 0px 0px 33px 0px;
}
.title-white {
	color: #fff;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	max-width: 411px;
	display: inline-block;
	margin: 0px 111px 79px 0px;
}
.dog-image {
	border-radius: 40px;
	margin: -240px 0px 0px 0px;
}
.point {
	display: inline-block;
}
.point:not(:last-child) {
	margin: 0px 80px 0px 0px;
}
.lable {
	margin: 0px 12px 0px 0px;
}
.content {
	max-width: 149px;
	display: inline-block;
}
.number {
	color: #fff;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	margin: 0px 0px 3px 0px;
}
.info {
	color: #5D62B5;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
}
